$light: #fff;
$light-grey: #aaa;
$dark-grey: #404040;

$board-bg: #ececec;

$charCard-bg: #fdc38c;

$charCard_name-bg: #228c9c;

// modalWindow colors

$header: grey;
$close-border: #cfcece;
$button_hover-border: #555fec;